Repository hashilbasheer/react-poc, changes with the labels that .github/labeler.yml gives for each.
All labels: CSS, JS, CI/CD, HTML

.github/labeler.yml:

CSS:
- src/*.css

JS:
- src/*.js

CI/CD:
- .github/*

HTML:
- public/*.html

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

Update App.js
  src/App.js
Labels: JS

Update package.json
  package.json
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Update App.js
  src/App.js
Labels: JS

Create Dockerfile1
  Dockerfile1
Labels: none

Update build-tag-push.yaml
  .github/workflows/build-tag-push.yaml
Labels: none

Update index.html
  public/index.html
Labels: HTML

disable push after sonar
  .github/workflows/sonar.yaml
Labels: none

Update selenium.yaml
  .github/workflows/selenium.yaml
Labels: none

Update my_selenium_test.py
  my_selenium_test.py
Labels: none

Rename my_selenium_test.py to selenium_test.py
  selenium_test.py
Labels: none

Update selenium.yaml
  .github/workflows/selenium.yaml
Labels: none

Update selenium_test.py
  selenium_test.py
Labels: none

Update selenium_test.py
  selenium_test.py
Labels: none

Update selenium_test.py
  selenium_test.py
Labels: none

Update selenium_test.py
  selenium_test.py
Labels: none

Update selenium_test.py
  selenium_test.py
Labels: none

Update selenium_test.py
  selenium_test.py
Labels: none

Update selenium_test.py
  selenium_test.py
Labels: none

Update selenium_test.py
  selenium_test.py
Labels: none

Update selenium_test.py
  selenium_test.py
Labels: none

Update selenium.yaml
  .github/workflows/selenium.yaml
Labels: none

Update App.js
  src/App.js
Labels: JS

Update build-tag-push.yaml
  .github/workflows/build-tag-push.yaml
Labels: none
